<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @employee.userid %>
</p>

<p>
  <strong>Idnumber:</strong>
  <%= @employee.idnumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

<p>
  <strong>Datein:</strong>
  <%= @employee.dateIn %>
</p>

<p>
  <strong>Dateout:</strong>
  <%= @employee.dateOut %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @employee.sex %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
